{# V20260630-1730 #}
{% include 'partials/head.html' %}
{% include 'partials/icons.html' %}
{% include 'partials/ai_hub.html' %}
{% include 'partials/core.html' %}
{% include 'partials/dashboard.html' %}
{% include 'partials/users.html' %}
{% include 'partials/customers.html' %}
{% include 'plugins/enterprise_verify/templates/admin_verify.html' ignore missing %}
{% include 'partials/customer_agents.html' %}
{% include 'partials/agents.html' %}
{% include 'partials/api_keys.html' %}
{% include 'partials/provider_api_keys.html' %}
{% include 'partials/llm_quotas.html' %}
{% include 'partials/posts.html' %}
{% include 'partials/tickets.html' %}
{% include 'plugins/im_gateway/templates/admin_imgateway.html' ignore missing %}
{% include 'plugins/ads/templates/admin_ads.html' ignore missing %}

{% include 'plugins/shop/templates/admin/partials/shop_products.html' ignore missing %}
{% include 'plugins/shop/templates/admin/partials/shop_categories.html' ignore missing %}
{% include 'plugins/shop/templates/admin/partials/shop_orders.html' ignore missing %}
{% include 'plugins/shop/templates/admin/partials/shop_purchases.html' ignore missing %}
{% include 'plugins/shop/templates/admin/partials/shop_panel.html' ignore missing %}
{% include 'partials/orders.html' %}
{% include 'plugins/subscription/templates/subscribe_admin_partial.html' ignore missing %}
{% include 'plugins/oauth_config/templates/admin_oauth.html' ignore missing %}
{% include 'plugins/captcha_embedded/templates/captcha_stats.html' ignore missing %}
{% include 'plugins/reviews/templates/reviews_admin_partial.html' ignore missing %}
{% include 'plugins/veroscholar/templates/admin/partials/veroscholar.html' ignore missing %}
{% include 'partials/config.html' %}
{% include 'partials/logs.html' %}
{% include 'partials/matrix.html' %}
{% include 'partials/prompts_db.html' %}
{% include 'partials/ai_chat.html' %}
{% include 'plugins/site_builder/templates/admin_site_builder.html' ignore missing %}
{% include 'plugins/email/templates/admin_email.html' ignore missing %}
{% include 'partials/downloads.html' %}
{% include 'partials/sms.html' %}
{% include 'partials/cms.html' %}
{% include 'partials/all_content.html' %}
{% include 'plugins/social_push/templates/admin_socialpush.html' ignore missing %}
{% include 'plugins/content_factory/templates/admin_contentfactory.html' ignore missing %}
{% include 'plugins/sms/templates/admin_sms.html' ignore missing %}
{% include 'plugins/payment/templates/admin_payment.html' ignore missing %}
{% include 'plugins/verification/templates/admin_verification.html' ignore missing %}
{% include 'plugins/chatbot/templates/admin_chatbot.html' ignore missing %}
{% include 'partials/automation.html' %}
{% include 'partials/workflow_editor.html' %}
{% include 'plugins/analytics/templates/admin_analytics.html' ignore missing %}
{% include 'plugins/health_check/templates/admin_health.html' ignore missing %}
{% include 'partials/i18n_translations.html' %}
{% include 'partials/comments.html' %}
{% include 'partials/admins.html' %}
{% include 'partials/token_monitoring.html' %}
{% include 'partials/notifications.html' %}
{% include 'partials/reward_rules.html' %}
{% include 'partials/model_providers.html' %}
{% include 'partials/media_library.html' %}
{% include 'partials/cleaner.html' %}
{% include 'partials/knowledge.html' %}
{% include 'plugins/vault/templates/admin_vault.html' ignore missing %}
{% include 'plugins/project_workspace/templates/project_workspace_admin.html' ignore missing %}
{% include 'plugins/ali_api/templates/admin_ali_api.html' ignore missing %}
{% include 'plugins/site_domains/templates/admin_sitedomains.html' ignore missing %}
{% include 'plugins/logistics/templates/admin_logistics.html' ignore missing %}
{% include 'plugins/coupons/templates/admin_coupons.html' ignore missing %}
{% include 'plugins/currency_converter/templates/currency_admin.html' ignore missing %}
{% include 'plugins/mini_app_builder/admin_templates/admin_devaccounts.html' ignore missing %}
{% include 'plugins/memory_engine/templates/memory_admin.html' ignore missing %}
{% include 'plugins/cogevolution_substrate/templates/cogevolution_admin.html' ignore missing %}
{% include 'partials/plugins_admin.html' %}
{% include 'partials/plugins_store.html' %}
{% include 'partials/site_settings.html' %}
{% include 'plugins/mini_app_builder/admin_templates/mini_apps.html' ignore missing %}
{% include 'plugins/mini_app_builder/admin_templates/admin_publish.html' ignore missing %}
{% include 'partials/tail.html' %}
